

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# pyenv
.python-version



# Environments
.env
.ven
.venv
env/
venv/
ven/
ENV/
env.bak/
venv.bak/


.node_modules
node_modules/


# vscode
.vscode/